
<div class=".w3-container">
	<input class="w3-input w3-animate-input w3-code w3-padding-32 {{ inputs.value_error == null ? '' : 'w3-border-red' }}" style="width:100%" placeholder="Enter value to be hashed" ng-model="inputs.value" ng-change="on_value_change(inputs.value)">
	<input class="w3-input w3-animate-input w3-code w3-padding-32 {{ inputs.hash_error == null ? '' : 'w3-border-red' }}" style="width:100%" placeholder="Enter Hash to be reversed" ng-model="inputs.hash" ng-change="on_hash_change(inputs.hash)">
</div>






