<!DOCTYPE html>
<html>
<head>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

	<div ng-app="HashReversing" ng-controller="HashReversingController">
		<select ng-model="selected_digest_type" ng-init="selected_digest_type = supported_digest_types[0]" ng-options="x for x in supported_digest_types"></select>

		<br>

		<div>Enter any value: <input type="text" ng-model="value_input" ng-change="update_hash()"></div>
		<p>Entered value: {{calculated_value}}</p>
		<p>{{selected_digest_type}} hash: {{calculated_digest}}</p>
		<br>

		<div>Enter {{selected_digest_type}} hash: <input type="text" ng-model="digest_input" ng-change="update_value()"></div>
		<p ng-show="!reversed_digest_error">Entered {{selected_digest_type}} hash: {{reversed_digest}}</p>
		<p ng-show="!reversed_digest_error">value: {{reversed_value}}</p>
		<p ng-show="reversed_digest_error">Invalid digest</p>
	</div>
</body>

<script>
var app = angular.module('HashReversing', []);
app.controller('HashReversingController', function($scope, $http, $timeout) {
	$scope.supported_digest_types = ["SHA256", "SHA512"]
	$scope.hash = "";
	$scope.reversed_digest_error = false
	$scope.update_hash = function() {
		if (typeof $scope.update_delayer != "undefined")
			$timeout.cancel($scope.update_delayer);

		$scope.update_delayer = $timeout(function() {
			$http.get("HashReversing/JSON/" + $scope.selected_digest_type + "/digest?value=" + $scope.value_input).then(function(response) {
				$scope.calculated_value = response.data.value
				$scope.calculated_digest = response.data.digest;
			})}, 500);
	}

	$scope.update_value = function() {
		if (typeof $scope.update_delayer != "undefined")
			$timeout.cancel($scope.update_delayer);

		$scope.update_delayer = $timeout(function() {
			$http.get("HashReversing/JSON/" + $scope.selected_digest_type + "/value?digest=" + $scope.digest_input).then(function(response) {
				$scope.reversed_value = ((response.data.value == null) ? "Unknown digest" : response.data.value);
				$scope.reversed_digest = response.data.digest
				$scope.reversed_digest_error = false;
			}, function(response) {
				$scope.reversed_digest_error = true;
			})}, 500);
	}
});
</script>
</html>
